[Desktop Entry]
Name=Eclipse
Comment=A C++ Development Environment
Icon=eclipse
Exec="/home/emersonmx/code/projects/cpp/eclipse/eclipse"
Terminal=false
Type=Application
Categories=Development;IDE;C++;
StartupNotify=true
